<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ida:Authority" value="https://[Enter your AD FS hostname]/adfs/"/>
    <add key="ida:ClientId" value="[Enter your client ID, as obtained from the app registration]"/>
    <add key="ida:RedirectUri" value="https://ToDoListClient"/>
    <add key="todo:TodoListResourceId" value="https://localhost:44321/"/>
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321/"/>
  </appSettings>
</configuration>
